<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Items</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Items</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/items}">Все</a>
                <a class="nav-item nav-link" th:href="@{/done}">Выполненные</a>
                <a class="nav-item nav-link" th:href="@{/newItems}">Новые</a>
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/loginPage}">
                    <span th:text="${user.name}"></span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${user.name}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description </th>
                <th scope="col">Created </th>
                <th scope="col">Done </th>
                <th scope="col">User </th>
            </tr>
            </thead>
        </table>
            <tbody>

            <div th:if="${#lists.size(items) != 0}" th:remove="tag">
                <div class="title-list">
                    <tr th:each="item: ${items}">
                        <div class="form-group title-item">
                            <input type="text" name="titleOther[]" class="form-control" th:value="${item.description}" maxlength="100" max="100">
                            <br>
                            <input type="text" name="titleOther1[]" class="form-control" th:value="${item.done}" maxlength="100" max="100">
                            <br>
                            <p><button type="button" id="addTitle" class="btn btn-secondary">Добавить еще</button>
                                <button type="button" id="delTitle" class="btn btn-danger">Delete</button></p>
                        </div>
                    </tr>
                </div>
            </div>
            <script type="text/javascript">
                $('#addTitle').click(function(){
                    var $input = $(".title-item").first().clone(); /*.clone().removeClass("title-item").appendTo(".title-list");*/
                    $input.find('input').val('');
                    $input.find(".form-control").text('');
                    $input.find('button').removeAttr('id').attr('name', 'delTitle');
                    $input.appendTo($(".title-list"));
                });
                $(document).on('click', 'button[name=delTitle]', function () {
                    $(this).closest('.title-item').remove();
                });
            </script>

            </tbody>
    </div>
</div>
</body>
</html>